@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap');

@keyframes scrolling {
    100% { background-position: 0 4cm, 0 0; }
}

@keyframes flicker {
    50% { opacity: 0; }
}

@keyframes appear {
    from { opacity: 0; }
    to { opacity: 1; }
}

[data-theme="Dark"] {
    --color: #6664d8;
    --acent: #363842;
    --background: #101116;
    --scanline_top: rgba(18, 16, 16, 0);
    --scanline_bottom: rgba(0, 0, 0, 0.25);
}

[data-theme="Light"] {  
    --color: #5755bd;   
    --acent: #afafaf;      
    --background: #e9e9e9;
    --scanline_top: rgba(255, 255, 255, 0);
    --scanline_bottom: rgba(0, 0, 0, 0.05);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: -0.4px;
}

html {
    scrollbar-width: thin;
}

.content > * {
    animation: appear 0.1s ease-out;
}

#terminal {
    height: 100vh;
    width: 100vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: linear-gradient(
        var(--scanline_top) 50%, 
        var(--scanline_bottom) 50%
    );
    background-size: 100% 4px;
    background-color: var(--background);
    animation: scrolling 0.2s linear infinite;
}

.terminal {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.information {
    width: 100%;
    padding: 10px;   
    margin-left: -7px;
    color: var(--acent);    
    text-align: left;   
}

.navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; 
}

.controls {
    width: fit-content;
    max-width: 100%;
    gap: 18px;
    padding: 10px 10px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    position: relative;
    border: 2px solid var(--acent);
    border-radius: 5px 5px 0 0;
    color: var(--acent);
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 470px) {
    .controls {
        gap: 10px;
    }
}

.icon {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

@media (max-width: 470px) {
    .icon {
        width: 21px;
        height: 21px;
    }
}

.controls_element {
    gap: 4px;
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

@media (max-width: 470px) {
    .controls_element {
        width: auto;
        gap: 0;
        display: inline-flex;
        font-size: 0;
    }
}

.controls_element::before {
    content: '~';
    opacity: 0;
    margin-left: -12px;
    transition: all 0.2s ease;
}

.controls_element:hover::before {
    opacity: 1;
    margin-left: 0;
    animation: flicker 1s infinite;
}

@media (hover: hover) {
    .controls_element:hover {
    color: var(--color);
    }
}

.controls_element.active {
    color: var(--color);
}

.controls_element.active::before {
    content: '~';
    opacity: 1;
    margin-left: 0;
    animation: flicker 1s infinite; 
}

@media (max-width: 470px) {
    .controls_element::before {
        display: none;
    }
}

.theme_element {
    width: fit-content;
    max-width: 100%;
    gap: 5px;
    padding: 10px 10px; 
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    border: 2px solid var(--acent);
    border-radius: 5px 5px 0 0;
    color: var(--acent);
    cursor: pointer;
    transition: color 0.2s ease;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

@media (hover: hover) {
    .theme_element:hover {
       color: var(--color); 
    }
}

@media (max-width: 470px) {
    .theme_element {
        width: auto;
        gap: 0;
        display: inline-flex;
        font-size: 0;
    }

    .theme_element::before {
        display: none;
    }
}

.content {
    width: 100%;
    max-height: calc(100vh - 100px);
    flex-grow: 1;
    margin-top: -2px;
    padding: 20px;
    position: relative;
    border: 2px solid var(--acent);
    border-radius: 0 5px 5px 5px;
    overflow-y: auto;
}

.bullet:before {
    content: '~';
    opacity: 1;
    margin-left: 0;
    margin-right: 6px;
    animation: flicker 1s infinite; 
}

.credit {
    color: var(--color);
    white-space: nowrap;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.credit::before {
    content: '~';
    margin-left: -2px;
    margin-right: 7px;
    animation: flicker 1s infinite;
}

.box {
    width: fit-content;
    padding: 10px;
    margin: 7px;
    border-radius: 5px;
    border: 2px solid var(--acent);
}

h1 {
    margin-left: 7px;
    color: var(--color);
    font-size: 24px;
    font-weight: 600;
}

p {
    margin: 0 7px;
    color: var(--acent);
    font-size: 17px;
    font-weight: 400;
}