.about {
    width: 100%;
}

.about_header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

@media (max-width: 900px) {
    .about_header {
        flex-direction: column;
        justify-content: center;
    }
}

.header_bar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

@media (max-width: 900px) {
    .header_bar {
        flex-direction: row;
    }
}

@media (max-width: 900px) {
    .header_socials {
        flex-direction: row;
    }
}

@media (max-width: 370px) {
    .header_bar {
        display: none;
    }
}

.header_logo {
    width: 12vw;
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex: 1;
}

@media (max-width: 1200px) {
    .header_logo {
        width: 5vw;
        max-height: 6vh;
    }
}

@media (max-width: 900px) {
    .header_logo {
        max-width: 10vw;
        min-height: 6vh;
    }
}

.header_image {
    width: 9vw;
    height: auto;
    filter: drop-shadow(100vw 0 0 var(--color));
    transform: translateX(-100vw);
}

@media (max-width: 1200px) {
    .header_image {
        width: 3.5vw;
    }
}

@media (max-width: 900px) {
    .header_image {
        width: 6vw;
    }
}

.header_socials {
    width: 12vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 1200px) {
    .header_socials {
        width: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }
}

@media (max-width: 900px) {
    .header_socials {
        flex-direction: row;
    }
}

.header_socials_handle {
    margin-left: 4px;
    display: none;
    color: var(--color);
}

@media (max-width: 900px) {
    .header_socials_handle {
        display: flex;
    }
}

.socials_icon {
    width: 25px;
    height: 25px;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    flex-shrink: 0;
    text-decoration: none;
    color: var(--acent);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.socials_icon .icon {
    width: 100%;
    height: 100%;
    stroke-width: 1.5;
}

@media (hover: hover) {
    .socials_icon:hover {
        color: var(--color);
    }
}

.header_content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.about_section {
    width: 100%;
    display: flex;
    flex-direction: row;
}

@media (max-width: 900px) {
    .about_section {
        flex-direction: column;
    }
}

.section_bar {
    width: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

@media (max-width: 1200px) {
    .section_bar {
        max-width: 5vw;
    }
}

@media (max-width: 900px) {
    .section_bar {
        display: none;
    }
}

.section_icon {
    width: 5vw;
    height: auto;
    stroke-width: 1.5;
}

.section_content {
    display: flex;
    flex-direction: column;
    flex: 1;
}