.projects {
    width: 100%;
}

.project_stack {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.project_bar {
    width: 100%;
    display: flex;
    flex-direction: row;
}

@media (max-width: 1200px) {
    .project_bar {
        flex-direction: column;
        align-items: stretch;
    }
}

.project_section {
    max-width: 100%;
    min-width: 0;
    gap: 12px;
    display: flex;
    flex-direction: row;
    flex: 1;
}

@media (max-width: 900px) {
    .project_section {
        gap: 0;
        flex-direction: column;
    }
}

.project_media {
    display: flex;
    flex-direction: column;
    width: 16vw;
    flex-shrink: 0;
}

@media (max-width: 900px) {
    .project_media {
        width: 100%;
        flex-direction: row;
    }
}

.project_logo {
    width: 100%;
    height: 18vh;
    overflow: hidden;
    display: flex;
}

@media (max-width: 900px) {
    .project_logo {
        height: 25vh;
        flex: 1;
    }
}

.project_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.project_socials {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}

@media (max-width: 900px) {
    .project_socials {
        width: fit-content;
        flex-direction: column;
        padding-top: 0px;
    }
}

.socials_icon {
    width: 25px;
    height: 25px;
    margin: 0 2px;
    color: var(--acent);
}

.socials_icon .icon {
    width: 100%;
    height: 100%;
    stroke-width: 1.5;
}

@media (hover: hover) {
    .socials_icon:hover {
        color: var(--color);
    }
}

.project_content {
    width: auto;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-break: break-word;
    overflow: hidden;
    flex: 1;
}
